<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Victor+Mono:ital,wght@0,100..700;1,100..700&display=swap"
      rel="stylesheet"
    />
    <!-- <link rel="stylesheet" href="style.css" /> -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
    <style>
      * {
  font-family: "Victor Mono", monospace;
}
.text-xl {
  font-size: 15px;
  font-weight: 800;
}
.text-md {
  font-size: 12px;
}
.line-height {
  line-height: 0.5;
}
.max-w-receipt {
  max-width: 300px;
}
.border-dashed {
  border: 1px dashed black;
}

    </style>
  </head>
  <body>
    <section class="max-w-receipt mx-auto my-5">
      <div class="d-flex flex-column align-items-center">
        <h1 class="text-xl">MR. D.I.Y (Bangladesh) Ltd.</h1>
        <div class="text-md text-center line-height mt-2">
          <p>Jamuna Future Park, South Courth,</p>
          <p>Basement floor, Shop No. UC 003-004,</p>
          <p>UC 007-008, Dhaka 1229, Bangladesh</p>
          <p>BIN: 005757885-0203</p>
          <p>-INVOICE (Mushak 6.3)-</p>
        </div>
      </div>
      <hr class="border-dashed" />
      <div>
        <h2 class="text-xl">B5 NTOEBOOK_E006-18#</h2>
        <div class="d-flex align-items-center text-md justify-content-between">
          <span>8953287</span>
          <div class="d-flex align-items-center gap-2">
            <span>1 X460.00</span>
            <span>460.00</span>
          </div>
        </div>
        <div>
          <h2 class="text-xl mt-3">EXPANDING FILE_8688#</h2>
          <div
            class="d-flex align-items-center text-md justify-content-between"
          >
            <span>8953580</span>
            <div class="d-flex align-items-center gap-5">
              <span>1 X560.00</span>
              <span>560.00</span>
            </div>
          </div>
        </div>
      </div>
      <div
        class="mt-5 d-flex align-items-center gap-5 fs-3 justify-content-between"
      >
        <h2 class="text-xl">Item(s) : 2</h2>
        <h2 class="text-xl">QTy(s) : 2</h2>
      </div>
      <hr class="border-dashed" />
      <div>
        <div class="d-flex align-items-center justify-content-between">
          <h2 class="text-xl">SUBTOTAL</h2>
          <span class="text-md">BDT 1,020.00</span>
        </div>
        <div class="d-flex align-items-center justify-content-between">
          <h2 class="text-xl">TAXABLE AMOUNT</h2>
          <span class="text-md">BDT 948.84</span>
        </div>
        <div class="d-flex align-items-center justify-content-between">
          <h2 class="text-xl">VAT 7.5%</h2>
          <span class="text-md">BDT 71.16</span>
        </div>
      </div>
      <hr class="border-dashed" />
      <div>
        <div class="d-flex align-items-center justify-content-between">
          <h2 class="text-xl">Total(Inclusive VAT)</h2>
          <span class="text-md">BDT 1,020.00</span>
        </div>
        <div class="d-flex align-items-center justify-content-between">
          <h2 class="text-xl">DBBL POS</h2>
          <span class="text-md">BDT 1,020.00</span>
        </div>
      </div>
      <hr class="border-dashed" />
      <div class="d-flex gap-2 text-md flex-wrap">
        <div>29-03-26</div>
        <div>12:00</div>
        <div>SH01</div>
        <div>DD002</div>
        <div>T1 R0001035</div>
        <div>
          <p>OPERATOR JAFPC - ZAKARIA MAHMUD SUVO</p>
        </div>
      </div>
      <div
        class="d-flex justify-content-center flex-column mt-4 line-height align-items-center"
      >
        <h2 class="text-xl">EXCHANGE ARE ALLOWED WITHIN</h2>
        <p class="text-md">7 DAYS WITH RECEIPT.</p>
        <p class="text-md">STRICTLY NO CASH REFUND.</p>
      </div>
    </section>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.8/js/bootstrap.min.js"
      integrity="sha512-nKXmKvJyiGQy343jatQlzDprflyB5c+tKCzGP3Uq67v+lmzfnZUi/ZT+fc6ITZfSC5HhaBKUIvr/nTLCV+7F+Q=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
  </body>
</html>
